{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block body %}

    <h2 class="p-3">Welcome Back! Please Log in!</h2>
    <form method="post">
    {% csrf_token %}
        <div class="row p-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Login" aria-label="First name" name="username">
            </div>
            <div class="col">
                <input type="password" class="form-control" placeholder="Password" aria-label="Last name"
                       name="password">
            </div>
        </div>

        <div class="col p-3">
            <button type="submit" class="btn btn-primary btn-lg p-3 ">Submit</button>
        </div>
    </form>
{% endblock %}